@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
@font-face {
    font-family: 'impact_label_reversedregular';
    src: url('/fonts/impact_label_reversed-webfont.woff2') format('woff2'),
         url('/fonts/impact_label_reversed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'die_nastyregular';
    src: url('/fonts/die_nasty-webfont.woff2') format('woff2'),
         url('/fonts/die_nasty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//@import "~bootstrap/scss/bootstrap";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    font-display: swap;
    box-sizing: border-box;
    background-color: black;
}
body{
    background-color: black;
    color: white;
    font-family: 'impact_label_reversedregular', sans-serif;
}

