.nav {
    z-index: 1;
    &.social {
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        color: white;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            height: 100%;
        }
        a {
            display: block;
            color: $skull-gray;
            font-size: 5vmin;
            transition: color 0.3s ease-in-out;
            padding: 2vmin 3vmin;
            &:hover {
                color: white;
            }
        }
    }
}
