.pane {
    padding: 10vw;
    min-height: 90vh;
    text-align: center;
    h2 {
        margin-bottom: 4vh;
        font-size: 8vmin;
        line-height: 1em;
        font-weight: normal;
        display: block;
        color: $skull-gray;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            font-size: 5vmin;
        }
    }
    &.masthead {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include prism;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            padding-top: 20vw;
        }
        h1 {
            font-family: 'impact_label_reversedregular';
            font-size: 8vmin;
            line-height: 1em;
            font-weight: normal;
            display: block;
            color: $skull-gray;
            margin-top: 2vh;
            @include media-breakpoint-up(md) {
                font-size: 7vmin;
            }
        }
        img {
            width: 60vmin;
            display: block;
            margin: 0 auto;
            @include media-breakpoint-up(md) {
                width: 50vmin;
            }
        }
    }
    &.videos {
        .video-container {
            width: 100%;
            max-width: 98vmin;
            margin: 0 auto;
            @include aspect-ratio(9, 16);
            box-shadow: 0 0 50px 0 $poppy-red;
            border-radius: 10px;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    &.events {
        hr + .event-wrapper {
            margin-top: 5vh;
        }
        .flyer {
            display: block;
            margin: 16px auto;
            + .flyer {
                margin-top: 7vh;
            }
            img {
                display: block;
                max-height: 80vh;
                max-width: 80vw;
                margin: 0 auto;
            }
        }
    }
}