<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>Chasing Poppies</title>
  <module href="/components/head.html"></module>
</head>

<body>

  <nav id="social" class="social nav">
    <ul>
      <li>
        <a href="https://www.instagram.com/chasingpoppiesband/" title="Follow Chasing Poppies on Instagram!"
          target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/chasingpoppiesband" title="Follow Chasing Poppies on Facebook!"
          target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCwXXkWcM7_O1M5U2is5q18g" title="Follow Chasing Poppies on YouTube!"
          target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@chasing.poppies" title="Follow Chasing Poppies on TikTok!"
          target="_blank">
          <i class="fab fa-tiktok"></i>
        </a>
      </li>
    </ul>
  </nav>

  <section id="masthead" class="masthead pane">
    <img src="/images/skull-poppies.png" alt="Chasing Poppies" />
    <h1>Chasing Poppies</h1>
  </section>

  <a class="upload-link btn" href="https://www.dropbox.com/request/bUq3f6j59fpyh2v8fpfG" target="_blank">Upload show videos here!</a>

  <section id="events" class="events pane">
    <h2>Events</h2>

    <!-- Starlite -->
    <!-- <div class="event-wrapper" itemscope itemtype="https://schema.org/Event">
      <h3 class="event-date" itemprop="startDate" content="2024-1-6T9:00">Friday, January 26th</h3>
      <div class="event-name" itemprop="name">
        <span class="event-title" itemprop="performer">Chasing Poppies with Foovana</span>
        <span class="event-venue"> live at <a itemprop="name" href="https://maps.app.goo.gl/84vmnSXHKRV5BHbRA" target="_blank">Starlite Lounge</a></span>
      </div>
      <div class="address sr-only" itemprop="location" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">4346 W. Olive Ave. </span>
        <span itemprop="addressLocality">Glendale</span>, <span itemprop="addressRegion">AZ</span> <span
          itemprop="postalCode">85028</span>
      </div>
      <span class="event-time">9:00 PM</span> |
      <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="event-price" itemprop="price" content="10.00">$10.00</span>
        <meta itemprop="priceCurrency" content="USD">
      </span>
      <a href="https://fb.me/e/1BBfPurUJ" class="flyer" target="_blank" title="Chasing Poppies at Starlite Lounge 1/26/24">
        <img src="/images/20240126-starlite.jpeg" alt="Chasing Poppies at Starlite Lounge 1/26/24" />
      </a>
    </div>

    <hr/> -->

    <!-- Hoopers -->
    <!-- <div class="event-wrapper" itemscope itemtype="https://schema.org/Event">
      <h3 class="event-date" itemprop="startDate" content="2024-1-6T8:00">Saturday, March 23rd</h3>
      <div class="event-name" itemprop="name">
        <span class="event-title" itemprop="performer">Chasing Poppies</span>
        <span class="event-venue"> live at <a itemprop="name" href="https://maps.app.goo.gl/sCAEQM5Nmiv9CocZ8" target="_blank">Hoopers</a></span>
      </div>
      <div class="address sr-only" itemprop="location" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">5114 W. Northern Ave</span>
        <span itemprop="addressLocality">Glendale</span>, <span itemprop="addressRegion">AZ</span> <span
          itemprop="postalCode">85301</span>
      </div>
      <span class="event-time">8:00 PM</span> |
      <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="event-price" itemprop="price" content="0.00">No cover</span>
        <meta itemprop="priceCurrency" content="USD">
      </span>
      <a href="https://fb.me/e/6tVDuDqiQ" class="flyer" target="_blank" title="Chasing Poppies at Hoopers 3/23/24">
        <img src="/images/20240323-hoopers.jpeg" alt="Chasing Poppies at Hoopers 3/23/24" />
      </a>
    </div>

    <br/>
    <hr/> -->

    <!-- Blooze -->
    <div class="event-wrapper" itemscope itemtype="https://schema.org/Event">
      <h3 class="event-date" itemprop="startDate" content="2024-6-8T8:00">Saturday, June 8th</h3>
      <div class="event-name" itemprop="name">
        <span class="event-title" itemprop="performer">Chasing Poppies</span>
        <span class="event-venue"> live at <a itemprop="name" href="https://maps.app.goo.gl/C4gCFjKfw4UeNWWq9" target="_blank">The Blooze</a></span>
      </div>
      <div class="address sr-only" itemprop="location" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">12014 N 32nd St. </span>
        <span itemprop="addressLocality">Phoenix</span>, <span itemprop="addressRegion">AZ</span> <span itemprop="postalCode">85028</span>
      </div>
      <span class="event-time">8:00 PM</span> |
      <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="event-price" itemprop="price" content="10.00">$10.00</span>
        <meta itemprop="priceCurrency" content="USD">
      </span>
      <a href="https://fb.me/e/rKA7J7JTy" class="flyer" target="_blank" title="Chasing Poppies at The Blooze 6/08/24">
        <img src="/images/20240608-blooze.png" alt="Chasing Poppies at The Blooze 6/08/24" />
      </a>
    </div>

    <br/>
    <hr/>

    <!-- 44 -->
    <div class="event-wrapper" itemscope itemtype="https://schema.org/Event" id="gilby">
      <h3 class="event-date" itemprop="startDate" content="2024-6-20T6:00">Saturday, June 20th</h3>
      <div class="event-name" itemprop="name">
        <span class="event-title" itemprop="performer">Chasing Poppies open for Gilby Clarke</span>
        <span class="event-venue"> live at <a itemprop="name" href="https://maps.app.goo.gl/k9WboZnDmV489Cct9" target="_blank">The 44</a></span>
      </div>
      <div class="address sr-only" itemprop="location" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">4494 W Peoria Ave </span>
        <span itemprop="addressLocality">Glendale</span>, <span itemprop="addressRegion">AZ</span> <span itemprop="postalCode">85302</span>
      </div>
      <span class="event-time">6:00 PM</span> |
      <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="event-price" itemprop="price" content="25.00">$25.00</span>
        <meta itemprop="priceCurrency" content="USD">
      </span>
      <div>
        <a class="btn mt-3" href="https://venmo.com/u/Chasing_Poppies_Band" target="_blank">Buy tickets here! ($25)</a>
        <p class="mb-0 mt-2">Tickets will be held at the door under the name of purchaser unless otherwise specified.</p>
        <p>Please note your address in Venmo if you would prefer the tickets be mailed to you. See you at the show!</p>
      </div>
      <a href="https://fb.me/e/7wWPKVyZ4" class="flyer" target="_blank" title="Chasing Poppies at The 44 6/20/24">
        <img src="/images/20240620-44.jpeg" alt="Chasing Poppies at The 44 6/20/24" />
      </a>
    </div>
    
  </section>

  <section id="videos" class="videos pane">
    <h2>Videos</h2>
    <!-- sociablekit embed (https://www.sociablekit.com/app/users/widgets/update_embed/120132#basic)-->
    <div class='sk-ww-youtube-channel-videos' data-embed-id='120132'></div><script src='https://widgets.sociablekit.com/youtube-channel-videos/widget.js' async defer></script>
    <!-- <div class="video-container">
      <iframe width="560" height="315"
        src="https://www.youtube.com/embed/videoseries?list=PLW9sOXMcEyL0nPzDYByJ1L2BgE6Y1Rh39" title="Chasing Poppies"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div> -->
  </section>

  <section class="footer text-center p-3">
    <hr/>
    <p>Email <a href="mailto:booking@chasingpoppies.com">booking@chasingpoppies.com</a> for booking info.</p>
  </section>

  <script src="bundle.js" defer async></script>
</body>

</html>