<!-- <!DOCTYPE html>
<html lang="de">
  <head>
    <title>Static Website Template</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <div class="center full-sized">
      <h1>Static Website Template</h1>
      <img src="images/logo.png" />
    </div>

    <script src="bundle.js" defer async></script>
  </body>
</html> -->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>Chasing Poppies</title>
    <module href="/components/head.html"></module>
</head>

<body>

    <img src="/images/skull-poppies.png" alt="Chasing Poppies"/>
    <h1>Chasing Poppies 2</h1>

    <script src="bundle.js" defer async></script>
</body>
</html>
