*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //font-family: 'Open Sans', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

// body {
//     font-size: 1.6rem;
//     background-color: $subtleBg;
//     color: $defaultFont;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// a {
//     transition: 0.1s linear;

//     &:hover {
//         color: $primary;
//     }
// }

// p {
//     margin: 2rem 0;
//     line-height: 1.4em;

//     &:last-of-type {
//         margin-bottom: 0;
//     }
// }

// h1,
// h2 {
//     margin-bottom: 4rem;
//     max-width: 100%;
//     line-height: 1.1em;
// }

// .center {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     h1 {
//         text-align: center;
//     }
// }

// .full-sized {
//     height: 100vh;
//     width: 100%;

//     img {
//         max-width: 200px;
//     }
// }


//mine
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
@font-face {
    font-family: 'impact_label_reversedregular';
    src: url('/fonts/impact_label_reversed-webfont.woff2') format('woff2'),
         url('/fonts/impact_label_reversed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'die_nastyregular';
    src: url('/fonts/die_nasty-webfont.woff2') format('woff2'),
         url('/fonts/die_nasty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: black;
    color: white;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
}
h1 {
    font-family: 'impact_label_reversedregular';
    font-size: 5vmin;
    line-height: 1em;
    font-weight: normal;
    display: block;
    color: #c6c6c9;
    margin-top: 0.5vh;
    /*text-shadow:0 0 1vmin #8e1221;*/
}
img {
    width: 40vmin;
    display: block;
    margin: 0 auto;
}
//*{margin:0px;padding:0px;border:none;}